
<div class="container-dettaglio" *ngIf="ricetta; else nonTrovato">
    <div class="immagine" [ngStyle]="{'background-image': 'url(' + ricetta.image +')'}"></div>
    <div class="container-ricetta">
        <h2>{{ricetta.title}}</h2>
        <p>{{ricetta.description}}</p>
    </div>
    <div class="row">
        <strong>Difficoltà:</strong>
        <img [src]="percorsoStelline + ricetta.difficulty + '.png'" alt="" class="difficolta">
    </div>
    <div class="data-pubblicazione">
        <h5>Ricetta pubblicata il {{ricetta.date}}</h5>
    </div>
</div>

<ng-template #nonTrovato>
    <div id="ricetta-non-trovata">
        <h2>Spiacenti la ricetta non è disponibile</h2>
    </div>    
</ng-template>
