@import "../../../styles/colors.scss";

.icona-cibando{
    width: 60px;
    margin-right: 5px;
}

.btn-nav{
    background-color: white!important;
    border-color: white;
    font-weight: bold;
    margin-top: 6px;
    border-radius: 1rem;
    color: $primary-color-1;
}

.user{
    margin-left: 60px;
    border: 1px solid rgba(255, 255, 255, 0.727);
    border-radius: 8px;
    padding: 0px 20px;
}

a.nav-link{
    display: inline-block;
    margin-left: 5px;
}

.mat-icon{
    height: 15px;
    width: 19px;
    font-size: 18px;
    padding-top: 2px;
}

 .navbar-expand-lg .navbar-collapse {
     justify-content: flex-end!important;
 }

 li.nav-item.user{
    color: white;
 }

.container-search{
    border: 1px solid white;
    background-color: white;
    padding: 3px 10px;
    border-radius: 1rem;

    .form-input{
        border: none;
        margin-right: 5px;
    }
}



button{
    background-image: url('../../../assets/images/lente.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 25px;
}
