.icona-cibando{
    width: 60px;
    margin-right: 5px;
}



.mat-icon{
    height: 15px;
    width: 19px;
    font-size: 18px;
    padding-top: 2px;
}

 .navbar-expand-lg .navbar-collapse {
     justify-content: flex-end!important;
 }

