.container-titolo{
    h2{
        margin-top: 30px;
    }
    .paragrafo{
        font-size: 13px;
        text-align: justify;
    
    }
}


#ultime-ricette{
    margin-top: 50px;

    h2{
        margin-bottom: 15px;
        text-align: center;
    }
}


