//primary colors
$primary-color-1: #8e210b;
$primary-color-2: #739900;

//secondary colors
$secondary-color-1: white;
$secondary-color-2: rgb(159, 149, 149);
$secondary-color-3: rgb(113, 105, 105);
$secondary-color-4: rgb(61, 57, 57);
$secondary-color-5: rgb(0, 0, 0);