
@import "../../../styles/colors.scss";

.card-container{
    display: block;
    float: left;
    width: 23%;
    margin-left: 1.6%;
    margin-bottom: 20px;

    .card-image{
        height: 200px;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        border-top-right-radius: 1rem!important;
        border-top-left-radius: 1rem!important;
    }

    .card{
        --bs-card-border-radius: 1rem!important;
    }

    
    .card-body{
        text-align: center;
        

        .card-title{
            font-weight: bold;
            font-size: 16px;
            color: $primary-color-1;
            height: 50px;
    
        }
    
        .card-text{
            text-align: justify;
            margin-top: -7px;
            margin-bottom: 30px;
            //height: 146px!important;
        }

        .btn.btn-primary{
            background:$primary-color-2;
            border: none;
            margin: auto;
            padding: 10px 20px;
        }
    
    }

    .delete{
        margin-left: 5px!important;
        background: $primary-color-1!important;
    }

}



