.container-titolo{
    h2{
        font-size: 35px;
        color: rgb(16, 182, 90);
        font-family: 'Homemade Apple', cursive;
    }
}

.paragrafo{
    font-size: 10px;
}

.mat-icon{
    height: 15px;
    width: 19px;
    font-size: 18px;
    padding-top: 2px;
}

.icona-cibando{
    width: 60px;
    margin-right: 5px;
}