<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../assets/images/icona-cibando.png" class="icona-cibando">
      <a class="navbar-brand" href="#">Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><mat-icon>home</mat-icon> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>restaurant</mat-icon> Ricette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>local_post_office</mat-icon> Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-carousel></app-carousel>

<div id="main-container">
  <div class="container-titolo">
    <h2 [ngClass]="evidenziato ? 'testoEvidenziato' : '' "(click)="onEvidenziazione()" style = "cursor : pointer">Benvenuti su Cibando</h2>
    <p class="paragrafo" [ngStyle]="{'background-color': evidenziato === true ? 'yellow' : 'white'}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque nihil molestias illum fuga commodi laborum totam nostrum officiis, 
      odit enim quidem ut impedit repellendus maiores dolores ad iusto debitis consequatur excepturi. Voluptatum amet in obcaecati provident praesentium qui optio 
      id a necessitatibus consectetur maxime odit voluptate nam quisquam, eaque molestias dolore repellat sit sequi quaerat. Doloremque debitis, quae iste deserunt reiciendis vel ut! 
      Quis adipisci ratione ipsum, expedita ullam animi asperiores aspernatur repellat sint neque repellendus exercitationem nostrum quia, culpa amet quae totam harum sunt 
      omnis minus quo officia doloremque enim deleniti! Aperiam possimus perspiciatis odio assumenda atque repellendus numquam doloribus tempora doloremque a temporibus corrupti officiis 
      incidunt magnam, ipsam voluptatibus non explicabo est vel nostrum eveniet molestias. Minima aliquid expedita sunt aperiam alias quis sit architecto? 
      Odio, ad. Ut consequuntur ullam harum dolores reiciendis adipisci modi laborum natus, quisquam nemo accusamus labore minima culpa corrupti? Alias dolore corporis incidunt ad debitis, 
      iure unde asperiores nesciunt eveniet tempora odit quaerat ex deleniti porro quas consectetur possimus. Sed quod adipisci doloremque blanditiis autem architecto aspernatur quam delectus 
      odit a corporis beatae iusto magni recusandae ut animi repellat quae dicta tempora, nesciunt ab et dolorem rem voluptatibus! Quas doloremque quia mollitia quaerat.</p>
  </div>
</div>



<router-outlet></router-outlet>
