<!-- <section class="vh-100" class="container-registrazione">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>
  
                    <form class="mx-1 mx-md-4" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" placeholder="scrivi il tuo nome" id="name" name="name" class="form-control" ngModel />
                          <label class="form-label" for="name">Il tuo nome</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" placeholder="scrivi la tua email" id="email" name="email" class="form-control" ngModel/>
                          <label class="form-label" for="email">La tua email</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" placeholder="password" id="password" name="password" class="form-control" ngModel />
                          <label class="form-label" for="password">Password</label>
                        </div>
                      </div>
                      <div class="commento">
                          <p>il campo password è obbligatorio</p>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="nome" name="ripetiPassword" class="form-control" ngModel/>
                          <label class="form-label" for="ripetiPassword">Ripeti password</label>
                        </div>
                      </div>
    
                      <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" value="" id="accetto" name="accetto" ngModel />
                        <label class="form-check-label" for="accetto">
                          Dichiaro di accettare i <a href="#!">Termini di servizio</a>
                        </label>
                      </div>
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                      </div>
                    </form>
                  
  
                  
                </div>
                
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 colonna-dx">
                   <img src="../../../assets/images/cheese-board.jpg" class= "img-fluid" alt="Sample image">
                </div>
  
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </section> -->

  <section class="vh-100" class="container-registrazione">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>
  
                    <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" placeholder="scrivi il tuo nome" id="name" name="name" class="form-control" formControlName="name"/>
                          <label class="form-label" for="name">Il tuo nome</label>
                          <p class="help is-danger" *ngIf="!form.get('name')?.valid && form.get('name').touched">Il campo nome è obbligatorio</p>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" placeholder="scrivi la tua email" id="email" name="email" class="form-control" formControlName="email"/>
                          <label class="form-label" for="email">La tua email</label>
                          <p class="help is-danger" *ngIf="form.controls.email.hasError('required') && form.get('email').touched">Il campo email è obbligatorio</p>
                          <p class="help is-danger" *ngIf="form.controls.email.hasError('email') && form.get('email').touched">Email inserita non valida</p>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <!-- <mat-icon>lock</mat-icon> -->
                          <p-password [toggleMask]="true" class="from-control" formControlName="password" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"></p-password>
                          <!-- <input type="password" placeholder="password" id="password" name="password" class="form-control" formControlName="password"/> -->
                          <label class="form-label" for="password">Password</label>
                          <p class="help is-danger" *ngIf="!form.get('password')?.valid && form.get('password').touched">Il campo password è obbligatorio</p>
                          <p class="help is-danger" *ngIf="form.controls.password.hasError('pattern')">Il campo password deve contenere un carattere speciale, una maiuscola e un numero e essere lungo almeno 8 caratteri</p>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="nome" name="ripetiPassword" class="form-control" formControlName="ripetiPassword"/>
                          <label class="form-label" for="ripetiPassword">Ripeti password</label>
                          <p class="help is-danger" *ngIf="!form.get('ripetiPassword')?.valid && form.get('ripetiPassword').touched">Il campo ripeti password è obbligatorio</p>
                          <p class="help is-danger" *ngIf="form.getError('diversa') && form.get('ripetiPassword').touched">Attenzione la password inserita non combacia</p>
                        </div>
                      </div>
    
                      <div class="accordion" id="accordionTermini">
                        <div class="accordion-item">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terminiServizio" aria-expanded="false" aria-controls="terminiServizi">
                              Visualizza i termini di servizio
                            </button>
                          </h3>
                          <div id="terminiServizio" class="accordion-collapse collapse" data-bs-parent="#accordionTermini">
                            <div class="accordion-body">
                              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-check d-flex justify-content-center mb-5">


                        <input class="form-check-input me-2" type="checkbox" value="" id="accetto" name="accetto" formControlName="accetto"/>
                        <label class="form-check-label" for="accetto">
                          Dichiaro di accettare i <a (click)="open(modaleServizi)">Termini di servizio</a>
                        </label>
                        <br>
                        <a (click)="open(modaleDue, 'titolo')">Apri seconda modale</a>
                      </div>
                      <div class="termini-condizioni">
                        <p class="help is-danger" *ngIf="!form.get('accetto')?.valid && form.get('accetto').touched">Per proseguire è obbligatorio accettare i termini e le condizioni del sito</p>
                      </div>
                      
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Register</button>
                      </div>
                    </form>
                  
  
                  
                </div>
                
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 colonna-dx">
                   <img src="../../../assets/images/cheese-board.jpg" class= "img-fluid" alt="Sample image">
                </div>
  
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </section>


  <ng-template #modaleServizi let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
      <h3>Termini di servizio</h3>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni distinctio odit ex enim. Tempore quas minima perspiciatis animi illum, ut minus maiores atque exercitationem labore nesciunt quisquam soluta maxime saepe! Quae distinctio quasi autem magnam vero pariatur mollitia architecto voluptatibus blanditiis, minus tempora totam animi tempore ipsum harum tenetur eaque fugiat molestiae fuga, commodi facilis. Amet libero iure veritatis eos fugiat eaque. Quos quaerat corrupti laborum voluptas repudiandae, autem vel qui atque voluptatibus? Totam sed molestias vel placeat? Temporibus, culpa. Quod quas neque harum magnam tempora, vitae amet numquam dolore itaque repudiandae voluptate non facilis, obcaecati similique inventore magni incidunt!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss()">ANNULLA</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()" ngbAutoFocus>AZIONE</button>
    </div>
  </ng-template>

  <ng-template #modaleDue let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
      <h3>Modale due</h3>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni distinctio odit ex enim. Tempore quas minima perspiciatis animi illum, ut minus maiores atque exercitationem labore nesciunt quisquam soluta maxime saepe! Quae distinctio quasi autem magnam vero pariatur mollitia architecto voluptatibus blanditiis, minus tempora totam animi tempore ipsum harum tenetur eaque fugiat molestiae fuga, commodi facilis. Amet libero iure veritatis eos fugiat eaque. Quos quaerat corrupti laborum voluptas repudiandae, autem vel qui atque voluptatibus? Totam sed molestias vel placeat? Temporibus, culpa. Quod quas neque harum magnam tempora, vitae amet numquam dolore itaque repudiandae voluptate non facilis, obcaecati similique inventore magni incidunt!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss()">ANNULLA</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()" ngbAutoFocus>AZIONE</button>
    </div>
  </ng-template>
