
footer{
    background-color: #739900!important;
    
    p{
        color: white!important;
    }
}

.contenitore-footer{
    margin-top: 15px;
}

.titolo{
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    color:white;
    margin-right: 7px;

}


 .footer-container{
    background-color: #739900!important;
 }

 .text-footer{
    
    font-size: 18px;
    padding-left: 10px;
    color: white;
 }

a{
    text-decoration: none;
}

// .contenitore-logo{
//     float: left;
//     border: 1px solid black;
//     margin-left: 15%;

//     img{
//         width: 80px;
//         height: 80px;
//         padding-top: 20px;
//         padding-left: 20px;
//     }
// }

