
@import "../../../styles/colors.scss";

footer{
    background-color: $primary-color-2!important;
    display: block;
    float: left;
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    height: 200px;
    
    p{
        color: $secondary-color-1!important;
    }
}

.contenitore-footer{
    margin-top: 15px;
}

.titolo{
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    color: $secondary-color-1;
    margin-right: 7px;

}


 .footer-container{
    background-color: $primary-color-2!important;
 }

 .text-footer{
    
    font-size: 18px;
    padding-left: 10px;
    color: $secondary-color-1;
 }

a{
    text-decoration: none;
}


