
footer{
    background-color: #739900!important;
    display: block;
    float: left;
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    height: 200px;
    
    p{
        color: white!important;
    }
}

.contenitore-footer{
    margin-top: 15px;
}

.titolo{
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    color:white;
    margin-right: 7px;

}


 .footer-container{
    background-color: #739900!important;
 }

 .text-footer{
    
    font-size: 18px;
    padding-left: 10px;
    color: white;
 }

a{
    text-decoration: none;
}


